/*---------------- Estilos Generales ----------------*/

*{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

.cuerpo{
    color: #ccc;
    background: rgb(43, 48, 65);
    background-size: 100%;
}

.input{
    font-size: 20px;
    width: 40%;
    line-height: 1.5em;
    display: inline-block;
    margin: .5em 2em;
    border-radius: 2.5px;
}

.boton{
    width: 40%;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    margin: .5em 2em;
    border-radius: 2.5px;
}

/*---------------- Estilos Nivel 1 ----------------*/

.navegador{
    font-size: 25px;
    background: rgb(40,45,55);
    display: table;
    width: 100%;
    list-style: none;
}

.contenedor{
    font-size: 20px;
    width: auto;
    margin: 1em 25%;
    padding: 1em;
}

.contenedor .formulario{
    background: rgb(40,45,55);
    box-shadow: 0 0 5px #ddd;
    padding: 1em;
    margin: 1em auto;
}

.contenedor .tabla{
    background: rgb(40,45,55);
    box-shadow: 0 0 5px #ddd;
    margin: 1em auto;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

/*---------------- Estilos Nivel 2 ----------------*/

.navegador__caja{
    float: left;
    line-height: 4rem;
}

.navegador__opcion{
    color: #ccc;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .6s;
}

.navegador__opcion:hover{
    background: rgb(27, 31, 37);
    color: rgb(47, 220, 226);
}

.formulario__input-select{
    width: 90%;
    height: 30px;
}

.formulario__input-number{
    text-align: right;
}

.formulario__separador{
    margin: 1em 0;
}

.formulario__boton-add{
    color: #333;
    background: rgb(55, 255, 162);
    box-shadow: 0 1px 2px 1px rgb(58, 187, 127);
}

.formulario__boton-add:hover{
    background: rgb(0, 255, 136);
    cursor: pointer;
}

.formulario__boton-del{
    color: #ccc;
    background: rgb(251, 46, 56);
    box-shadow: 0 1px 2px 1px rgb(158, 21, 28);
}

.formulario__boton-del:hover{
    background: rgb(250, 19, 31);
    cursor: pointer;
}

.tabla__cabecera{
    cursor: default;
    background: rgb(83, 11, 216);
    border-bottom: 3px solid rgb(56, 6, 148);
}

.tabla__celdas{
    padding: .5em;
}

.tabla__cuerpo tr:hover{    
    background: rgb(17, 17, 17);
}

/*---------------- Estilos Nivel 3 ----------------*/